# Site Configuration
ADMIN_EMAIL=
RESEND_API_KEY=

# PayHere Credentials
PAYHERE_MERCHANT_ID=
PAYHERE_APP_ID=4OVycRgdhCK4JH5EsQZ3tF3D2
PAYHERE_APP_SECRET=4qDMpH2CPtW8Rjoa4k5wTJ4PUmxrI1q4r4kmgcLsTsXA
PAYHERE_SECRET=

# MongoDB configuration
MONGODB_URI=mongodb+srv://miyula:12%40miyula@cluster0.11lpupv.mongodb.net/gamingr4d?appName=Cluster0
JWT_SECRET=66dda664b636c21976227cb7d482ac828d9bde1d5a86f7f26eff201b3cc49d52


